<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f9c5749e-3931-40d6-b3a0-117f093f9e92/resourceGroups/sushi/providers/Microsoft.Web/sites/sushi-backend</ResourceId>
    <ResourceGroup>sushi</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://sushi-backend.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://sushi-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$sushi-backend</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>